<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
        <h4>Reviews that need to be approved!</h4>
        <hr>
        <table id="admin-table" class="table table-responsive table-bordered">
          <thead>
            <tr id="admin-tr" class="active">
              <th>Name</th>
              <th>Content</th>
              <th>user_id</th>
              <th>Actions</th>
            </tr>
          </thead>
            <tbody id="admin-tbody">
                <% @reviews.each do |review| %>
                  <% if review.approved == false %>
                <tr id="tr-fix">
                  <td><%= review.user.first_name %> <%= review.user.last_name %></td>
                  <td><p class="text-justify"><%= review.content %></p></td>
                  <td><%= review.user.id %></td>
                  <td>
                    <form action="/reviews/<%= review.id %>" method='post'>
                      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                      <input type='hidden' name='_method' value='put'>
                      <input type="hidden" name="review[approved]" value="<%= review.id %>">
                      <input class="btn btn-success pull-left" type='submit' value='Approved'>
                    </form>
                    <form action="/reviews/<%= review.id %>" method='post'>
                      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                      <input type='hidden' name='_method' value='delete'>
                      <input class="btn btn-danger pull-right" type='submit' value='Rejected'>
                    </form>
                  </td>
                </tr>
                  <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
  </div>
</div>
