<% title "Fort Worth/DFW Hairstylist - About" %>
<% meta_description "HairByAliCron is a local Kevin Murphy product based Salon, located in Fort Worth, Texas." %>
<% meta_keywords "Fort Worth, DFW, Alison Cron, Kevin Murphy Products, Aveda, Aveda Graduate, Aveda Dallas" %>
<div class="container">
    <div class="text-center">
        <h3>ABOUT</h3>
        <p>More than just a service</p>
    </div>
    <div class="row text-sm-left">
        <div class="col-lg-4 col-lg-offset-1 visible-lg">
            <%=image_tag("ali_head_shot.JPG", class: "img-responsive img-rounded", alt: "Alison Cron Fort Worth/DFW Hairstylist")%>
        </div>
        <div class="col-md-4 col-md-offset-1 visible-md">
            <%=image_tag("ali_head_shot.JPG", class: "img-responsive img-rounded", alt: "Alison Cron Fort Worth/DFW Hairstylist")%>
        </div>
        <div class="col-sm-4 col-sm-offset-1 visible-sm">
            <%=image_tag("ali_head_shot.JPG", class: "img-responsive img-rounded", alt: "Alison Cron Fort Worth/DFW Hairstylist")%>
        </div>
        <div class="col-sm-12 visible-xs">
            <%=image_tag("ali_head_shot.JPG", class: "img-responsive img-rounded", alt: "Alison Cron Fort Worth/DFW Hairstylist")%>
        </div>
        <div id="space-divider">
            <!-- space filler -->
        </div>
        <div class="col-sm-6 lead" id="bio-text-box">
            <p>Hi, my name is Alison Cron. I have always had a passion for people and art, which transitioned into a passion for hair and beauty. I started at the Aveda Institute in Dallas and worked at an Aveda salon in Fort Worth for three years. I love everything about hair but especially dimensional color. I think it is important to have integrity in all aspects of your life, especially in the way you run a business. My intention is for my guest to love their hair and leave the salon feeling the best version of themselves; I truly adore my guests and the relationships I am able to build with them. I look forward to working with you!</p>
        </div>
    </div>
    <div id="space-divider">
        <!-- space filler -->
    </div>
    <div class="text-center">
        <h3>WHY CHOOSE US</h3>
        <p>PRODUCT AND COLOR MATTER</p>
    </div>
    <div class="row text-sm-right">
        <div class="col-sm-4" id="product-text-box">
            <p>At Hair by Ali Cron, we use Kevin Murphy color and products. The color line is honey based leaving your hair shiny, soft, and moisturized-"What goes inside the tube is just as important as the colour it creates. The choices we made are PPD free, ammonia free and naturally derived ingredients like aloe vera, honey, shea butter, and pomegranate."</p>
        </div> 
        <div class="col-sm-4" id="product-text-box">
            <p>About the products: "Born from the same philosophy as skincare, Kevin Murphy products are weightlessly designed to deliver performance, strength, and longevity. When searching the world for our ingredients, Kevin Murphy looked for companies that use micro cultivation, organic growing practices, or ecologically sound wild harvesting techniques to ensure the Kevin Murphy range is of the very highest natural quality."</p>
        </div>
        <div class="col-sm-4" id="product-text-box">
            <p>About the Color: "Color.Me is born from Kevin Murphy's vision of fusing session work, fashion, and hair colour. This compact colour line delivers high performance, natural looking results and optimum colour functionality. An artful blend of gentle and "from the earth" ingredients naturally moisturize, rejuvenate and impart incredible shine without having to further compromise the environment."</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 visible-lg">
            <%=image_tag("kevin_murphy_products.gif", class: "img-responsive", alt: "Fort Worth/DFW Kevin Murphy Products")%>
        </div>
        <div class="col-md-4 col-md-offset-4 visible-md">
            <%=image_tag("kevin_murphy_products.gif", class: "img-responsive", alt: "Fort Worth/DFW Kevin Murphy Products")%>
        </div>
        <div class="col-sm-4 col-sm-offset-4 visible-sm">
            <%=image_tag("kevin_murphy_products.gif", class: "img-responsive", alt: "Fort Worth/DFW Kevin Murphy Products")%>
        </div>
        <div class="col-sm-12 visible-xs">
            <%=image_tag("kevin_murphy_products.gif", class: "img-responsive", alt: "Fort Worth/DFW Kevin Murphy Products")%>
        </div>
    </div>
    </div>
</div>
