<div class="container">
    <div class="text-center">
        <ul class="list-inline hidden-xs">
            <li><i class="fa fa-scissors fa-3x fa-rotate-270" aria-hidden="true"></i></li>
            <li><p class="header-tag">Hair by Ali Cron</p></li>
            <li><i class="fa fa-scissors fa-3x fa-rotate-270" aria-hidden="true"></i></li>
        </ul>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 visible-lg">
                <%=image_tag("ali_pic_homepage.JPG", class: "img-responsive", alt: "Home Image", id: "ali_pic_homepage")%>
            </div>
            <div class="col-md-4 col-md-offset-4 visible-md">
                <%=image_tag("ali_pic_homepage.JPG", class: "img-responsive", alt: "Home Image", id: "ali_pic_homepage")%>
            </div>
            <div class="col-sm-4 col-sm-offset-4 visible-sm">
                <%=image_tag("ali_pic_homepage.JPG", class: "img-responsive", alt: "Home Image", id: "ali_pic_homepage")%>
            </div>
            <div class="col-sm-12 visible-xs">
                <%=image_tag("ali_pic_homepage.JPG", class: "img-responsive", alt: "Home Image", id: "ali_pic_homepage")%>
            </div>
        </div>
        <h3>specializing in ombré, balayage, and dimensional color</h3>
    </div>
    <div id="space-divider">
        <!-- space filler -->
    </div>
    <div class="text-center">
        <h2 id="home-testimonials-text">Testimonials</h2>
        <p class="text-muted">What's trending about Ali</p>
    </div>
    <div class="row text-sm-left">
        <% @reviews.each do |review| %>
            <% if review.approved == true %>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p class="text-justify"><i class="fa fa-quote-left fa-2x" aria-hidden="true" style="color: #cccccc;"></i> <%= review.content %></p>
                <footer><%= review.user.first_name %> <%= review.user.last_name %></footer>
            </blockquote>
        </div>
            <% end %>
        <% end %>
    </div>
    <div class="text-center" id="review_link_text">
        <%= link_to "Leave a review", reviews_path %> | <%= link_to "View all", testimonials_path %>
    </div>
    <div id="space-divider">
        <!-- space filler -->
    </div>
    <section>
        <!-- instafeed -->
        
        <script type="text/javascript">
            $( document ).ready( function() {
                var userFeed = new Instafeed({
                    get: 'user',
                    userId: '3054008733',
                    target: 'instafeed',
                    accessToken: '3054008733.b3ed9be.9fe3223dae414264809154a9598ced09',
                    clientId: 'b3ed9bec7753418a94d68a9aca3c83ee',
                    resolution: 'low_resolution',
                    limit: 4,
                    sortBy: 'most-liked',
                    template: '<div class="col-xs-6 col-sm-3"><a href="{{link}}" target="_blank"><br><img class="img-responsive center-block" src="http:{{image}}" /></a></div>',
                });
                userFeed.run();
            });
        </script>
        <div class="container">
            <header>
                <div class="instafeed-content">
                    <h2 class="text-center">Follow on: <span class="instagram-title">Instagram</span></h2>
                    <div class="row">
                        <div id="instafeed"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </header>
        </div>
    </section>
</div>
