<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h4><%= current_user.first_name %>, Welcome to your profile!</h4>
        <p>If you need to update any of your information you may do so here.</p>
        <hr>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr class="active">
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
          </thead>
            <tbody>
                <tr>
                  <td><%= @user.first_name %> <%= @user.last_name %></td>
                  <td><%= @user.email %></td>
                  <td><%= @user.phone %></td>
                </tr>
            </tbody>
        </table>
        <%= link_to "Edit Profile", edit_user_path %>
    </div>
  </div>
</div>
